body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    height: 50px;
    background-color: gray;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    padding: 30px;
    border-left: 1px solid white;
}


table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    /*margin: 30px 10px 10px 10px;*/

}

th {
    background: bisque;
}

td {
    border: none;
    margin: 0 5px 0 5px;

}

tr {
    text-align: center;
    border-radius: 15px;
}

tr:nth-child(2n) {
    background: #dadde3;
}


.none {
    display: none;
}

.modal {
    display: flex;
    justify-content: center;
    padding: 10px;
    /*flex-direction: column;*/
}

.error {
    color: red;
    text-align: center;
}

.victors {
    margin: 0 20px;

}

.title_victors {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    flex-direction: column;
}

.btn_victors {
    width: 150px;
    height: 30px;
}

.sort_search {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.title_victors_one {
    display: flex;
    justify-content: space-between;
align-items: center;
}
.add_Visitor{
    text-align: center;
    margin-bottom: 10px;
}
.victors_sort{
    margin: 10px;
    width: 100px;
}