* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    display: flex;
    justify-content: center;
}

.container{
    width: 800px;
}

.post{
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-content: center;
}
.post__container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;}