body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #61dafb;
}

a {
    text-decoration: none;
}

.logo {
    margin-left: 50px;
}

.form {
    display: flex;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.buttonAdd {
    background: none;
    border: none;
}

.buttonDel {
    background-image: url("../../src/icons/icons8-мусор.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    border: none;
}

.buttonEdit {
    background-image: url("../../src/icons/101edit_99874.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    border: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

input {
    border: 1px solid #4ab0b0;
    border-radius: 15px;
    height: 30px;
}


.container {
    display: flex;
    width: fit-content;
    margin: 50px;
    background: #74e0f9;
    min-height: 300px;
    border-radius: 15px;
    box-shadow: -3px 3px 5px 0px;
}


table {
    width: 512px;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 0 5px 0 5px;

}

th {
    background: bisque;
}

td {
    border: none;
    margin: 0 5px 0 5px;

}

tr {
    text-align: center;
    border-radius: 15px;
}

tr:nth-child(2n) {
    background: #dadde3;
}

.classSearchTable {
    display: none;
}


.serchContainer {
    margin-top: 10px;
}

.inputSearch {
}

.form {
    margin-top: 10px;
}


.sortUpSvg {
    display: none;
}


/*Modal*/


.modal {overflow:hidden;
    display: none;
    position: fixed;
    top: 209px;
    bottom: 0;
    left: 200px;
    right: 0;
    width: 60%;
    z-index: 9999;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    animation-name: appear;
    animation-duration: 300ms;
}
.modalForm{
    box-sizing:border-box;
    width:auto;
    max-width:100%;
}