body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #61dafb;
}
a{
    text-decoration: none;
}
.logo {
    margin-left: 50px;
}

.form{
    display: flex;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.buttonAdd{
    background:  none;
    border: none;
}
.buttonDel{
    background-image: url("../../src/icons/icons8-мусор.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    border: none;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(90deg);}
}

input{
    border: none;
    border-radius: 15px;
}


.container{
    margin: 50px;
}



table{
    width: 512px;
    border-spacing: 0px;
    border-collapse: collapse;

}
th{
    background: bisque;
}
td{
    border: 1px solid black;

}
tr{
    text-align: center;
}

